extend layout

block underbarContent
	#datepub #{title}
	.underbar-catlinks
		.articleicon
			img(src='/images/ArtricleIcon_Selected.png')
		.imagesicon
			a(href='#{imageLink}')
				img(src='/images/PicIcon.png')
		.videoicon
			a(href='#{videopageLink}')
				img(src='/images/VideoIcon.png')

block content
	.article-contain
		each val, index in list
			.article-item(style="background-image: url('#{list[index].image}');" onclick="location.href='#{list[index].guid}';")
				.article-headline
					a(href='#{list[index].guid}') #{list[index].headline}