extend layout

block underbarContent
	#datepub #{title}

block content
	.article-contain
		each val, index in list
			.article-item(style="background-image: url('#{list[index].image}');" onclick="location.href='#{list[index].guid}';")
				.article-headline
					a(href='#{list[index].guid}') #{list[index].headline}